<!DOCUTYPE html>
<html>
<meta charset="utf-8">
<style type="text/css">
table{margin: 0 auto; border-collapse: collapse;}
table th, table td {border: solid 1px black;}
.abc {text-align:center}


</style>
<body>

<div style="text-align:center">
<form id="form1" action="X">
<input type="serch" autocomplete="on" list="list" placeholder="キーワードを入力">
<input type="submit" value="検索">
</div>


<table border="0" width="100%">
<td rowspan="2" width="20%" class="abc"><img src="rinkaku.jpg"></td>
<th width="70%" style="border-bottom-style:none">輪郭の断片</th>
<td rowspan="2">place<br>Z$1,000,000<br><input type="button"style="width:80" onclick="location.href='https://www.google.co.jp'" value="購入"></td>
<tr>
<td width="70%" style="border-top-style:none">電気通信大学内に存在する謎のオブジェクト。Googleで検索してもちゃんと表示される。</td>



</html>
